<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="myCoach"
          class="com.evwhite.springlearning.coach.BaseballCoach">
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myCricketCoach"
          class="com.evwhite.springlearning.coach.CricketCoach">
        <property name="fortuneService" ref="myFortune"/>
    </bean>

    <bean id="myFortune"
          class="com.evwhite.springlearning.fortune.HappyFortuneService">
    </bean>


</beans>